body {
  font-family: 'Sono', sans-serif;
}

.pricing-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically center items */
  min-height: 100vh; /* Ensure container covers the viewport height */
}

.pricing-plan {
  background-color: rgba(224, 255, 255, 0.5);
  width: 700px;
  margin: 20px;
  padding: 20px; /* Add padding for better spacing */
  text-align: center; /* Center text content */
}

.plan-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin-top: 15px;
}

.plan-price {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 30px;
  margin-top: 5px;
}

.plan-button {
  background-color: orange;
  padding: 10px 20px; /* Adjust padding for button */
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  font-family: Verdana, Geneva, sans-serif;
  font-size: 15px;
  line-height: 2;
  text-align: center;
}

/* Ensure button inherits cursor pointer */
button {
  cursor: pointer;
}

/* Media Query for Responsive Design */
@media screen and (max-width: 768px) {
  .pricing-container {
    flex-direction: column; /* Stack items vertically */
    align-items: stretch; /* Stretch items full width */
  }
  
  .pricing-plan {
    width: 90%; /* Adjust width to full width of the viewport */
    margin: 10px auto; /* Center-align and add smaller margin */
  }
}